body {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: #eb7777;
    height: 50px;
    margin: 0;
}


#logo {
    color: white;
    margin: 5%;
}


.right {
    float: right;
}


#search {
    border-radius: 20px;
    margin: 5% 4% 0% -30%;
    padding: 1% 2.5%;
}

#login {
    margin: 5% 0%;
    color: white;
}


.section-1 {
    background-color: bisque;
    height: 250px;
    margin: 0;
    padding: 0;
}


h1 {
    color: white;
    margin: 0;
}


button {
    border-radius: 15px 0 15px 0;
    border: none;
    background-color: #eb7777;
    padding: 0.5% 2%;
    color: white;
    margin: 5% auto auto 5%;
    box-shadow: 0 2px #979393a8;
}


#mission {
    
}


.column {
    float: left;
    width: 33.33%;
    height: 250px;
    background-color: #ffe5e4;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.section-2 {
    height: 400px;
}


.section-3 {
    background-color: #ffe5e4;
    height: 150px;
}


#actions {
    margin: 0 auto;
}


.action {
    padding: 1.8% 3%;
    margin: 3% 5%;
    letter-spacing: 5px;
}


#takeaction {
    margin-bottom: 0px;
}


footer {
    background-color: #eb7777;
    height: 50px;
    color: white;;
}


.footerline {
    display: inline;
    margin-top: 1%;
}


.left {
    margin-left: 3%;
}


.middle {
    margin: 0 auto;
    text-align: center;
}