body {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: #eb7777;
    height: 50px;
    margin: 0;
}


#logo {
    color: white;
    margin: 5%;
}


.right {
    float: right;
}


#search {
    border-radius: 20px;
    margin: 5% 4% 0% -30%;
    padding: 1% 2.5%;
}

#login {
    margin: 5% 0%;
    color: white;
}


#return {
    float: right;
}


.column {
    float: left;
    width: 50%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


footer {
    background-color: #eb7777;
    height: 50px;
    color: white;;
}


.left {
    margin-left: 3%;
    display: inline-block;
}


.middle {
    text-align: center;
    display: inline-block;
    margin-left: 22%;
}


.right2 {
    display: inline-block;
    float: right;
    margin-right: 3%;
}